Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1610110616644/work
certifi==2020.12.5
click==7.1.2
dash @ file:///home/conda/feedstock_root/build_artifacts/dash_1611245648458/work
dash-core-components @ file:///home/conda/feedstock_root/build_artifacts/dash-core-components_1611131211583/work
dash-html-components @ file:///home/conda/feedstock_root/build_artifacts/dash-html-components_1611131203577/work
dash-renderer @ file:///home/conda/feedstock_root/build_artifacts/dash-renderer_1611094782021/work
dash-table @ file:///home/conda/feedstock_root/build_artifacts/dash-table_1611131210372/work
Flask==1.1.2
Flask-Compress @ file:///home/conda/feedstock_root/build_artifacts/flask-compress_1613569273720/work
future @ file:///Users/runner/miniforge3/conda-bld/future_1610147350851/work
gunicorn @ file:///Users/runner/miniforge3/conda-bld/gunicorn_1610136832935/work
itsdangerous==1.1.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1612119311452/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1610127533370/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1612953032265/work
pandas==1.2.2
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1610471242275/work
psycopg2 @ file:///Users/runner/miniforge3/conda-bld/psycopg2_1608904151977/work
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
PyYAML==5.4.1
retrying==1.3.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1612225115309/work
Werkzeug==1.0.1
